.file-uploads .attachment-button + label {
  cursor: pointer;
}

.conversation-wrap {
  .agent-message {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 $space-micro $space-small;
    max-width: 88%;
    text-align: start !important;
    unicode-bidi: plaintext;

    .avatar-wrap {
      flex-shrink: 0;
      height: $space-medium;
      width: $space-medium;

      .user-thumbnail-box {
        margin-top: -$space-large;
      }
    }

    .message-wrap {
      flex-grow: 1;
      flex-shrink: 0;
      margin-left: $space-small;
      max-width: 90%;
      text-align: start !important;
      unicode-bidi: plaintext;
    }
  }

  &.is-typing .messages-wrap div:last-child {
    .agent-message {
      .agent-name {
        display: none;
      }

      .user-thumbnail-box {
        margin-top: 0;
      }
    }
  }

  .agent-name {
    color: $color-body;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    margin: $space-small 0;
    padding-left: $space-micro;
  }

  .has-attachment {
    overflow: hidden;
    padding: 0;

    &.has-text {
      margin-top: $space-smaller;
    }
  }

  .agent-message-wrap {
    + .agent-message-wrap {
      margin-top: $space-micro;

      .agent-message .chat-bubble {
        border-top-left-radius: $space-smaller;
      }
    }

    + .user-message-wrap {
      margin-top: $space-normal;
    }

    &.has-response + .user-message-wrap {
      margin-top: $space-micro;

      .chat-bubble {
        border-top-right-radius: $space-smaller;
      }
    }

    &.has-response + .agent-message-wrap {
      margin-top: $space-normal;
    }
  }

  .user-message {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 $space-smaller $space-micro auto;
    max-width: 85%;
    text-align: start !important;
    unicode-bidi: plaintext;

    .message-wrap {
      margin-right: $space-small;
      max-width: 100%;
    }

    .in-progress {
      opacity: 0.6;
    }
  }

  .user.has-attachment {
    .icon-wrap {
      color: $color-white;
    }

    .download {
      color: $color-white;
    }
  }

  .user-message-wrap {
    + .user-message-wrap {
      margin-top: $space-micro;

      .user-message .chat-bubble {
        border-top-right-radius: $space-smaller;
      }
    }

    + .agent-message-wrap {
      margin-top: $space-normal;
    }
  }

  p:not(:last-child) {
    margin-bottom: $space-normal;
  }
}

.unread-messages {
  width: 100%;
  margin-top: 0;
  padding-bottom: $space-small;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: visible;
  padding: 10px 15px 0;

  .chat-bubble-wrap {
    margin-bottom: 0.55rem;

    &:first-child {
      margin-top: auto;
    }
    .chat-bubble {
      background: #fff;
      color: #000;
      box-shadow: -4px 5px 20px 0px rgba(0, 0, 0, 0.15);
      z-index: 999999 !important;
      border: none !important;
      position: relative;
      left: 10px;
      overflow: visible;
      border-radius: 4px !important;
      transition: all 0.2s cubic-bezier(0.42, 0, 0.29, 0.83);

      &:hover {
        transform: translateX(0.25rem);
      }
      .message-content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .link {
        color: #000 !important;
      }
    }
  }
}

.is-widget-right .unread-wrap {
  overflow: hidden;
  text-align: right;

  .chat-bubble-wrap {
    .chat-bubble {
      background: #fff;
      box-shadow: -4px 5px 20px 0px rgba(0, 0, 0, 0.15);
      z-index: 99999 !important;
      border: none !important;
      position: relative;
      right: 10px;
      overflow: visible;
      border-radius: 4px !important;
      transition: all 0.2s cubic-bezier(0.42, 0, 0.29, 0.83);
      text-align: start !important;
      unicode-bidi: plaintext;

      &:hover {
        transform: translateX(0.25rem);
      }
      .message-content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .close-unread-wrap {
    text-align: right;
  }
}

.chat-bubble {
  @include light-shadow;
  background: $color-woot;
  border-radius: $space-two;
  color: $color-white;
  display: inline-block;
  font-size: $font-size-default;
  line-height: 1.5;
  max-width: 100%;
  padding: $space-slab $space-normal;
  word-break: break-word;
  text-align: start !important;
  unicode-bidi: plaintext;

  > a {
    color: $color-primary;
    word-break: break-all;
  }

  .link {
    text-decoration: underline;
    word-break: break-all;
  }

  &.user {
    border-bottom-right-radius: $space-smaller;

    > a {
      color: #3f4045;
    }
  }

  &.agent {
    background: $color-white;
    border-bottom-left-radius: $space-smaller;
    color: $color-body;

    .link {
      color: $color-woot;
      word-break: break-word;
    }
  }
}

blockquote {
  text-align: start !important;
  unicode-bidi: plaintext;
}
dd {
  text-align: start !important;
  unicode-bidi: plaintext;
}
dl {
  text-align: start !important;
  unicode-bidi: plaintext;
}
figure {
  text-align: start !important;
  unicode-bidi: plaintext;
}
h1 {
  text-align: start !important;
  unicode-bidi: plaintext;
}
h2 {
  text-align: start !important;
  unicode-bidi: plaintext;
}
h3 {
  text-align: start !important;
  unicode-bidi: plaintext;
}
h4 {
  text-align: start !important;
  unicode-bidi: plaintext;
}
h5 {
  text-align: start !important;
  unicode-bidi: plaintext;
}
h6 {
  text-align: start !important;
  unicode-bidi: plaintext;
}
p {
  text-align: start !important;
  unicode-bidi: plaintext;
}
pre {
  text-align: start !important;
  unicode-bidi: plaintext;
}

.user-thumbnail-box {
  .user-thumbnail {
    height: auto !important;
  }
}
