.conversation {
  @include flex;
  @include flex-shrink;
  @include padding(0 0 0 $space-normal);
  align-items: center;
  border-bottom: 1px solid transparent;
  border-left: $space-micro solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  position: relative;

  &.active {
    background: $color-background-dark4;
    border-bottom-color: $color-border-dark2;
    border-left-color: $color-woot;
    // border-top-color: $color-border-dark2;

    .conversation--details {
      border-top-color: transparent;
    }

    +.conversation .conversation--details {
      border-top-color: transparent;
    }
  }

  &:first-child {
    .conversation--details {
      border-top-color: transparent;
    }
  }

  &:nth-last-child(2) {
    .conversation--details {
      border-bottom-color: $color-border-dark2;
    }
  }


  .conversation--details {
    @include margin(0 0 0 $space-one);
    @include border-light-bottom;
    border-top: 1px solid $color-border-dark2;
    @include padding($space-slab 0);
    border-bottom-color: transparent;
  }

  .conversation--user {
    font-size: $font-size-small;
    margin-bottom: 0;
    text-transform: capitalize;
    color: $color-light-gray;

    .label {
      left: $space-micro;
      max-width: $space-larger;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      top: $space-micro;
      white-space: nowrap;
      background: #2f3336;
      color: #c1c1c1;
    }
  }

  .conversation--message {
    color: $color-body;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    height: $space-medium;
    line-height: $space-medium;
    margin: 0;
    max-width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 27rem;

    .small-icon {
      font-size: $font-size-mini;
      vertical-align: top;
    }

    .message-from-agent {
      color: $color-gray;
      font-size: $font-size-mini;
    }
  }

  .conversation--meta {
    @include flex;
    flex-direction: column;
    position: absolute;
    right: $space-normal;
    top: $space-normal;

    .unread {
      $unread-size: $space-normal;
      @include round-corner;
      @include light-shadow;
      background: darken($success-color, 3%);
      color: $color-white;
      display: none;
      font-size: $font-size-micro;
      font-weight: $font-weight-black;
      height: $unread-size;
      line-height: $unread-size;
      margin-left: auto;
      margin-top: $space-smaller;
      min-width: $unread-size;
      padding: 0 $space-smaller;
      text-align: center;
    }

    .timestamp {
      color: $dark-gray;
      font-size: $font-size-micro;
      font-weight: $font-weight-normal;
      line-height: $space-normal;
      margin-left: auto;
    }
  }

  &.unread-chat {
    .unread {
      display: inline-block;
    }

    .conversation--message {
      font-weight: $font-weight-bold;
      color: $color-light-gray;
    }

    .conversation--user {
      font-weight: $font-weight-bold;
      color: $color-woot;
    }
  }

  &.compact {
    padding-left: 0;

    .conversation--details {
      margin-left: 0;
    }
  }
}
